:root {
  --white: #f4f4f4;
  --gray-light: #ddd;
  --black: #222;
}

* {
  box-sizing: border-box;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: var(--white);
}

body {
  letter-spacing: 1px;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-size: 1em;
  margin: 0;
  display: inline;
  font-weight: normal;
}

a:hover {
  font-weight: bold;
}
/* p {
  font-family: 'Source Serif Pro', Times, serif;
} */
p a {
  border-bottom: 2px solid var(--gray-light);
}

p a:hover {
  font-weight: bold;
  border-color: var(--black);
}

ul {
  /* list-style: none; */
  /* margin: 0; */
}

video {
  display: block;
}

.VideoWrapper {
  box-shadow: 0 6px 20px -2px rgba(0, 0, 0, 0.2);
  margin: 70px;
}

.code {
  background: var(--gray-light);
  padding: 1em;
  font-size: 1em;
  line-height: 1.1;
}

.SiteWrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.ProjectLink__ImageWrapper {
  position: relative;
  /* background: var(--gray-light); */
}

.ProjectLink__ImageWrapper img {
  width: 100%;
  margin: 0;
}

.ProjectPage__Title {
  font-size: 3em;
  background: var(--black);
  color: var(--white);
}

.ProjectPage__Links {
  background: var(--black);
  display: inline-block;
  margin-top: 2px;
}

.ProjectPage__Links a {
  background: var(--black);
  color: var(--white);
  text-transform: uppercase;
}
