:root {
  --white: #f4f4f4;
  --gray-lighter: #eee;
  --gray-light: #ccc;
  --black: #222;
}

* {
  box-sizing: border-box;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: var(--white);
}

body {
  letter-spacing: 1px;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
  transition: all 0.1s;
}

h1 {
  font-size: 1em;
  margin: 0;
  display: inline;
  font-weight: normal;
}

a:hover {
  font-weight: bold;
  /* text-shadow: 0 0 15px rgba(253, 208, 82, 0.5); */
}

header a:hover,
.ProjectPage__Links a:hover {
  font-weight: bold;
  text-shadow: 0 0 15px rgba(255, 225, 143, 0.76);
}

p {
  font-family: 'Source Serif Pro', Times, serif;
}
p a {
  border-bottom: 2px solid var(--gray-light);
}

p a:hover {
  font-weight: normal;
  /* color: black; */
  border-color: var(--black);
}

ul {
  /* list-style: none; */
  /* margin: 0; */
}

video {
  display: block;
}

.MediaWrapper {
  box-shadow: 0 6px 20px -2px rgba(0, 0, 0, 0.2);
  margin: 70px;
}

.code {
  background: var(--gray-lighter);
  padding: 1em;
  font-size: 1em;
  line-height: 1.1;
  font-family: 'Inconsolata', monospace;
}

.SiteWrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.ProjectLink {
  flex-basis: 25%;
  height: calc(100vh - 140px);
  padding: 5px;
  transition: all 0.5s;
}

.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Projects:hover .ProjectLink {
  flex-basis: 20%;
}
.Projects:hover .ProjectLink {
  flex-basis: 20%;
}
.ProjectLink:hover {
  flex-basis: 40% !important;
}

.ProjectLink__ImageWrapper {
  height: 100%;
  position: relative;
  /* background: var(--gray-light); */
}

.ProjectLink__ImageWrapper img {
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
}

.ProjectPage__Title {
  font-size: 4em;
  padding: 0 5px;
  margin-top: 100px;
  background: var(--black);
  color: var(--white);
  position: relative;
  top: 50px;
}

.ProjectPage__Links {
  /* background: var(--black);
  display: inline-block;
  margin-top: 2px; */
  margin-bottom: 2em;
}

.ProjectPage__Links a {
  background: var(--black);
  color: var(--white);
  padding: 2px 5px;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .MediaWrapper {
    margin: 20px 0;
  }
  .Projects {
    flex-direction: column;
  }
  .ProjectLink {
    width: 100%;
    flex-basis: unset;
    height: 150px;
    margin-bottom: 30px;
  }
  .Projects:hover .ProjectLink {
    flex-basis: unset;
  }
  .Projects:hover .ProjectLink {
    flex-basis: unset;
  }
  .ProjectLink:hover {
    flex-basis: unset !important;
  }
}

.Projects__List {
  padding-right: 20px;
  flex-shrink: 1;
}

@media (max-width: 400px) {
  .Projects__ImgContainer {
    display: none;
  }
  .Projects__List {
    padding: 0 40px;
    flex-shrink: 0;
    width: 100%;
  }
}

.ProjectsV2 {
  text-align: right;
  display: flex;
}
.ProjectsV2 ul {
  list-style: none;
}
